.changepassword-container{
    margin-top: 25vh;
    background: #fff;
    width: 80vh;
    height: 63vh;
    margin-left: 66vh;
    border-radius: 20px;
}
.changepassword-container h2{
    text-align: center;
}

.changepassword-container input{
    width: 60vh;
    margin-left: 7vh;
   
}

.changepassword-container button{
    width: 64vh;
    margin-left: 7vh;
    height: 30px;
    background-color: #006D77;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    height: 6vh;
    cursor: pointer;
    border-radius: 25px;
}

.changepassword-container label{
    margin-left: 7vh;
}

.changepassword-container button:hover{
    background-color: #004D56;
}