
.hometitle{
    align-items: center;
    text-align: center;
    margin-top: -100px;
    font-size: 24px;
}

.hometitle h1{
    margin-top: 10vh;
    color:black;
}

.database{
    margin-top: 10px;
}



@media (max-width: 480px) {
    .slider {
       display: none; 
    }
    
    .hometitle h1{
        margin-left: 30px;
    }
    .navbar-Top{
        margin-top:-10vh;
    }

    
}



