.navbar{
    background: #006D77;
    height: 65px;
    display: flex;
    z-index: 2000;
    margin-top: -10px;
    width: 300vh;
    position: fixed;
}
.container{
    display: flex;
    font-family:sans-serif ;
    margin-left: 60vh;
    margin-top: -5px;
}
li{
    list-style: none;
}


.container .code{
    margin-top: 20px;
}

.container span{
    font-size: 17px;
    width: 18vh;
    text-decoration: none;
    color: #FAF9F5;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.img-profile img{
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-left: 1vh;
    margin-top: 3px;
}

.profile-info h3{
    color: #fff;
    margin-top: 5px;
    font-size: 15px;
    margin-left: -2px;
}

.profile-info p{
    color: #cabfbf;
    margin-top: -15px;
    font-size: 12px;
    margin-left: -1px;
}

.container .profileimg-button{
    margin-top: 3.5vh;
    margin-left: 25vh;
    cursor: pointer;
    width: 35vh;
    height: 40px;
}

 .img-container{
    display: flex;
    gap: 10px;
}

.MuiPaper-root {
    width: 28vh;
    margin-left: -1vh;
    margin-top: 7px;
}

.code {
    color: rgba(255,255,255,0.75);
    
    transition: all 0.4s;
}
.code ul {
    list-style-type: none;
    padding: 0; 
    display: flex;
    margin-left: 5vh;
}

.code ul li {
    position: relative; 
    margin: 0 15px; 
    cursor: pointer; 
    transition: color 0.3s ease; 
}


.code ul li::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #F4A261;
    display: block;
    margin-top: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    pointer-events: none;
    color: white;
    font-weight: bolder;
}


.code ul li:hover::after,
.code ul li:focus::after {
    opacity: 1;
}


.code ul li:hover,
.code ul li:focus {
    color: #F4A261; 
}


.code ul li.active {
    color: #F4A261;
}


.code ul li.active::after {
    opacity: 1; 
}


.code ul li.active {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

