/* Quizzes.css */
.wrapperquiz {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: darkblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.quiz-container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #D3E4CD; /* Light green border */
}

.question-section {
  text-align: center;
}

.question-count {
  font-size: 18px;
  margin-bottom: 10px;
  color: #006D77; /* Dark teal */
}

.question-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black; /* Dark teal */
}

/* Answer buttons */
.answer-section button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background-color: skyblue; /* Dark teal */
  color: black; /* Light beige */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-section button:hover {
  background-color: #004D56; /* Darker shade of orange */
}

/* General buttons (like Restart, Back) */
.quizB {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: darkblue; /* Dark teal */
  color: #FAF9F6; /* Light beige */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.quizB:hover {
  background-color: #E76F51; /* Darker shade of teal */
}

/* Disabled button */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Add margin between buttons */
button + button {
  margin-left: 10px;
}

.score-section {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #006D77; /* Dark teal */
}

.correct-answers-section {
  margin-top: 20px;
}

.correct-answers-section h2 {
  font-size: 24px;
}

.question-answer {
  margin-bottom: 10px;
}

.question-answer p {
  margin: 5px 0;
}

.question-answer hr {
  margin-top: 10px;
}
.highlight-correct {
  background-color: yellow; /* Highlight color */
  font-weight: bold;
}


