.otp-body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .otp-container {
      display: flex;
      height: 50vh;
      width: 70vh;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background: white;
      border: 8px solid white;
      box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    }
    
    .otp-fields {
      display: flex;
      gap: 10px;
    }
    .otp-container h1{
        text-align: center;
    color: #333;
    margin-bottom: 20px;
    }
    
    .otp-input {
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 5px;
    }
  
    .otp-button{
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      font-weight: bold;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 30px; /* Add margin on top for spacing */
      border-radius: 30px;
    }
  
    .otp-button:hover {
      background-color: #007bff;
    }
    
    .otp-button:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }
  
    .otp-body .p-emailname{
      margin-left: -10px;
      display: flex;
      color: #333;
      margin-top: -1vh;
    }
    .otp-body .email-tag{
      margin-top: 1.5px;
      margin-left: 2px;
      color: #007bff;
    }

    .timer {
      display: flex;
      margin-left: 50px;
    }
    .timer p{
      margin-left: -60px;
      font-size: 15px;
    }
  
    .timer .resend-button {
      font-size: 14px;
      margin-left: 9px;
      cursor: pointer;
      color: #007bff;
    }
  
    .v-emmage{
      margin-left: -10px;
      margin-top: -1px;
      color: red;
    }

       /* Medium Devices (Tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .otp-container{
    height: 30vh;
  }
}
  
    
    