.edit-profile-container{
  display: flex;
  gap: 20px;
  background: #fff;
  width: 171vh;
  margin-left: 25vh;
  height: 88vh;
  border-radius: 30px;
  margin-top: 10vh;
}
.edit-profile-imgholder{
width: 200px;
height: 200px;
position: relative;
border-radius: 20px;
overflow: hidden;
padding: 20px;

  
}
.profile-upload .profile-icon{
  color: white;
  font-size: 35px;
}

.edit-profile-imgholder .profile-upload input{
  display: none;
}

.edit-profile-imgholder .profile-upload{
  position: absolute;
  bottom: 30px;
  left: 5;
  width: 75%;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 


.edit-profile-inputfield{
  flex-basis: 20%;
  border-left: 5px groove #223243;
  padding: 20px;
}

.edit-profile-inputfield .edit-profile-inputfield-1{
  display: flex;
  margin-left: 15px;
  gap: 30px;
  
}

.edit-profile-1 label{
  font-size: 18px;
  font-weight: bold;
}

.edit-profile-1 input {
  width: 55vh;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.edit-profile-1 select{
  width: 55vh;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #333;
  transition: border-color 0.3s;
  outline: #007f7f;
}

.edit-profile-inputfield .edit-profile-inputfield-2{
  display: flex;
  margin-left: 15px;
  gap: 30px;
  margin-top: 20px;
}

.edit-profile-inputfield .edit-profile-inputfield-3{
  margin-top: 20px;
}



.edit-profile-2 {
  display: flex;
  flex-direction: column; /* This makes the label stack on top of the input */
  margin-bottom: 10px;
}

.username {
  margin-bottom: 5px; /* Add space between the label and the input */
  font-size: 18px;
  margin-left: 12px;
  font-weight: bold;
}

.edit-username {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
  width: 55vh;
  margin-left: 11px;
}



.save-changes-button button{
  width: 50vh;
  font-size: 18px;
  height: 5vh;
  margin-top: 25vh;
  margin-left: 5vh;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #007bff;
  color:#fff;
  font-weight: bold;
}

.save-changes-button button:hover{
  background: #0056b3; 
  color: #fff;
}

.cancel-changesButton button{
  width: 50vh;
  font-size: 18px;
  height: 5vh;
  margin-top: 25vh;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: gray;
  color:#fff;
  font-weight: bold;
}

.cancel-changesButton button:hover{
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
}
