/* General Sidebar Styling */
.sidebar {
  z-index: 2000;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom, #4caf50, #2e7d32);
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  
}

.sidebar.visible {
  left: 0; /* When sidebar is visible, slide in from the left */
}

.side-container {
  font-family: 'Arial', sans-serif;
}

/* Reset list styles */
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styling for the navigation items */
.code-side ul {
  padding: 0;
  margin: 0;
}

.code-side ul li {
  margin: 20px 15px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}

/* Default state for links */
.code-side ul li span {
  color: #faf9f5;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Hover effect */
.code-side ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Active link styling */
.code-side ul li.active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Style the text of the active link */
.code-side ul li.active span {
  color: #faf9f5;
  font-weight: bold;
}

/* Add smooth transitions */
.code-side ul li,
.code-side ul li span {
  transition: all 0.3s ease;
}

@media (max-width: 480px){
  .sidebar {
    width: 40vh; /* Adjust the width for tablets */
    margin-top: 55px;
  }

  .code-side ul li {
    margin: 15px 10px;
    padding: 12px; /* Smaller padding for tablets */
  }

  .code-side ul li span {
    font-size: 16px; /* Adjust font size for tablets */
  }

  .code-side ul li:hover {
    background: #83C5BE; /* Hover color for tablets */
  }

  .code-side ul li.active {
    background: #38B2AC;
    border-left: 5px solid #EDF6F9;
  }
}

