.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Arial', sans-serif;
  }
  

.hometitlehome{
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    font-size: 24px;
}

.hometitlewelocome h1{
    margin-top: 25vh;
}

.cards{
    margin-top: 10px;
}