.forgot-body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.forgot-password-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    margin-top: -1vh;
    border: 8px solid white;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35),
      inset -5px 15px rgba(255, 255, 255, 0.1),
      inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }

  .forgot-password-container h2{
    font-size: 28px;
  }
  
  .forgot-password {
    margin-bottom: 20px;
    margin-left: -1px;
    margin-top: 20px;
  }
  
  .forgot-password label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .forgot-password input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .forgot-password input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Style for the button */
.forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -30px;
  }
  
  .forgot-password-button:hover {
    background-color: #007bff;
  }
  
  .forgot-password-button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }